<div class='modal fade' id='@ViewBag.ModalId' tabindex='-1' role='dialog' aria-labelledby='@ViewBag.ModalId' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>×</span>
                </button>
                <h4 class='modal-title'>
                    @ViewBag.ModalTitle
                </h4>
            </div>
            @RenderBody()
        </div>
    </div>
</div>