@{
    ViewBag.Title = "Contact";
}

<h2>Joseph NISHIMWE</h2>

<address>
    <p><a href="mailto:jophyboy@gmail.com" target="_blank">jophyboy@gmail.com</a></p>
    <p><a href="https://jophyboy20.wixsite.com/djef" target="_blank">My Blog</a></p>
</address>