<div class="areaHeader welcomeMsg">
    <div class="areaTitle">Welcome!</div>
    <div class="areaDescription">
        It’s time to get more from what you read. Find and share real perspectives about topics that matter today.

        @if (!Request.IsAuthenticated)
        {
            <p><a href="#ModalRegister" data-toggle="modal">Sign up for an account</a></p>
        }

    </div>
</div>